body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
  
  }
  .stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    background-color: aqua;
    padding: 30px;
  }
  .display{
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace  ;
    font-weight: bold;
    color: #000;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 25px;
  }
  .controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: bisque;
    transition: background-color 0.5s ease;
  }
  .start-button{
    background-color: rgb(48, 247, 48);
  }
  .start-button:hover{
    background-color: rgb(8, 202, 50);
  }
  .stop-button{
    background-color: rgb(128, 36, 0);
  }
  .stop-button:hover{
    background-color: rgb(253, 57, 8);
  }
  .reset-button{
    background-color: rgb(71, 9, 243);
  }
  .reset-button:hover{
    background-color: rgb(14, 61, 189);
  }